@import "./componentes/variables.scss";
@import "./componentes/intro.scss";
@import "./componentes/main.scss";
@import "./componentes/nav.scss";
@import "./componentes/nosotros.scss";
@import "./componentes/proyectos.scss";
@import "./componentes/certificaciones.scss";
@import "./componentes/contacto.scss";
@import "./componentes/footer.scss";
