footer {
  width: 100%;
  height: auto;
  background-color: $main;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .footerArriba {
    width: 100%;
    height: auto;
    // border: solid 2px pink;
    display: flex;
    justify-content: space-around;
    .footer01 {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: solid 5px red;
      .logo {
        font-size: 20px;
        font-family: "novecento";
        color: $logo;
        font-weight: 600;
        text-shadow: -1px 1px 1px rgb(0, 0, 0);
      }
    }
    .footer02 {
      // display: flex;
      // justify-content: flex-start;
      // flex-direction: column;
      // align-items: center;
      // gap: 50px;
      height: auto;
      margin: 10px 0px;
      // border: solid 5px red;
      .redesContainer {
        gap: 15px;
        display: flex;
        // margin: 10px 0px 5px 0px;
        // justify-content: space-around;
        a {
          text-decoration: none;
          .fa-whatsapp {
            font-size: 20px;
            color: $logo2;
            // text-shadow: -1px 1px 1px rgb(0, 0, 0);
            cursor: pointer;
            opacity: 0.7;
            transition: opacity 0.5s;
            &:hover {
              opacity: 1;
            }
          }
          .fa-instagram {
            font-size: 20px;
            color: $logo2;
            // text-shadow: -1px 1px 1px rgb(0, 0, 0);
            cursor: pointer;
            opacity: 0.7;
            transition: opacity 0.5s;
            &:hover {
              opacity: 1;
            }
          }
          .fa-envelope {
            font-size: 20px;
            color: $logo2;
            // text-shadow: -1px 1px 1px rgb(0, 0, 0);
            cursor: pointer;
            opacity: 0.7;
            transition: opacity 0.5s;
            &:hover {
              opacity: 1;
            }
          }
          .fa-location-dot {
            font-size: 18px;
            color: $logo2;
            // text-shadow: -1px 1px 1px rgb(0, 0, 0);
            cursor: pointer;
            opacity: 0.7;
            transition: opacity 0.5s;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
      .footerUl {
        list-style: none;
        .footerLi {
          line-height: 12px;
          .footerA {
            text-decoration: none;
            color: $logo2;
            opacity: 0.5;
            transition: opacity 0.5s;
            font-size: 12px;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .footerAbajo {
    width: 100%;
    height: auto;
    // border: solid 5px blue;
    display: flex;
    justify-content: center;
    color: $logo2;
    opacity: 0.8;
    font-size: 10px;
    padding: 5px;
    gap: 10px;

    a {
      // text-decoration: none;
      color: $logo2;
    }
  }
}
