body {
  width: 100%;
  height: 100%;

  position: relative;
  #intro {
    // border: solid 5px red;
    z-index: 10;
    background-color: $main;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 2s ease;
    position: absolute;

    .logoContainer {
      .titulo1 {
        font-family: "novecento";
        text-transform: uppercase;
        color: $logo2;
        margin: 0;
        padding: 0;
        padding-left: 3px;
        opacity: 0;
        transition: opacity 0.5s ease;
      }
      .titulo2 {
        display: inline-block;
        margin: 0;
        padding: 0;
        line-height: 0.8;
        // height: 20px;
        color: $logo;
        font-family: "novecento";
        text-transform: uppercase;
        font-size: 50px;
        opacity: 0;
        transition: opacity 0.5s ease;
      }
      .titulo3 {
        margin: 0;
        padding: 0;
        font-family: "novecento";
        text-transform: uppercase;
        color: $logo2;
        text-align: right;
        padding-right: 2px;
        opacity: 0;
        transition: opacity 0.5s ease;
      }
    }
  }
}
