body {
  #main {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/img/foto03.jpg");
    background-size: cover;
    // border: solid 5px red;
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(255, 255, 255, 0.3); // opacidad
      pointer-events: none;
    }
  }
}

@media (max-width: 737px) {
  body {
    #main {
      background-position: center;
    }
  }
}
