#main {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/img/foto03.jpg");
  background-size: cover;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.3);
    pointer-events: none;
  }

  .sloganHover {
    position: absolute;
    top: 50%;
    height: 50%;
    width: 100%;
    transition: all 1s;
  }

  .sloganContainer {
    position: absolute;
    right: 5%;
    bottom: 10%;
    width: auto;
 pointer-events: none;
    .sloganContainer01 {
      overflow: hidden;

      .slogan01 {
        transform: translateY(100%);
        font-family: "Staatliches", sans-serif;
        font-size: 100px;
        line-height: 80px;
        transition: transform 1s, text-shadow 0.3s;
        color: $logo;
      }
    }

    .sloganContainer02 {
      overflow: hidden;

      .slogan02 {
        transform: translateY(100%);
        font-family: "Staatliches", sans-serif;
        font-size: 100px;
        line-height: 80px;
        overflow: hidden;
        text-align: right;

        color: $logo;
        transition: transform 1s, text-shadow 0.3s;
      }
    }
  }
}

@media (max-width: 737px) {
  body {
    #main {
      background-position: center;
    }
  }
}
