body {
  position: relative;

  nav {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 10;
    .logo {
      font-size: 25px;
      font-family: "novecento";
      color: $logo;
      font-weight: 600;
      text-shadow: -1px 1px 1px rgb(0, 0, 0);
      margin-left: 20px;
      transform: translateX(-120%);
      transition: 2s;
      cursor: pointer;
    }

    .nav2 {
      margin-right: 60px;
      margin-top: 10px;
      ul {
        display: flex;
        list-style: none;
        align-items: center;
        gap: 15px;
        li {
          text-transform: uppercase;
          font-family: "novecento";
          font-size: 17px;
          font-weight: 580;
          letter-spacing: 0.5px;

          text-shadow: -0.5px 0.5px 1px rgba(0, 0, 0, 0.8);
          cursor: pointer;
          opacity: 0;
          transition: opacity 0.5s ease, transform 0.7s ease, text-shadow 1s;
          transform: translateY(-50px) scale(1);
          a {
            text-decoration: none;
            color: $logo;
          }
          &.nav-in {
            opacity: 0.8;
            transform: translateY(0) scale(1);
          }

          &:hover {
            opacity: 1;
            text-shadow: -0.5px 0.5px 2px rgba(0, 0, 0);
            transform: translateY(0) scale(1.03);
          }
        }
      }
    }
  }
}
@media (max-width: 737px) {
  nav {
    background-color: red;
  }
}
