$main: #0b5e4e;
$logo: #e8dcc3;
$logo2: #d3cbbc;
$texto: #eae9d5;
$azul: #195fd8;

@font-face {
  font-family: "novecento";
  src: url("../assets/fonts/Novecentosanswide-Normal.otf");
}

@font-face {
  font-family: "novecentoBold";
  src: url("../assets/fonts/Novecentosanswide-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
